.light-theme
{
  --tab-color          : #000000;
  --tab-color-bg       : #DDDDDD;
  --tab-color-hover-bg : #BBBBBB;
  --hazard-color       : #333333;
  --hazard-color-bg    : #FFDC00;
  --help-color         : #EEEEEE;
  --help-color-bg      : #3377FF;
  --network-color      : #444444;
  --network-color-bg   : #44BB44;
}

.dark-theme
{
  --tab-color          : #EEEEEE;
  --tab-color-bg       : #777777;
  --tab-color-hover-bg : #999999;
  --hazard-color       : #333333;
  --hazard-color-bg    : #FFDC00;
  --help-color         : #EEEEEE;
  --help-color-bg      : #3377DD;
  --network-color      : #EEEEEE;
  --network-color-bg   : #117711;
}

.nav-tabs
{
  border-bottom : 1px solid var(--tab-color-bg);
}

.nav-link
{
  position : relative;
}

.nav-tabs .nav-link
{
  font-weight : bold;
  border      : none;
  padding     : 8px 35px 8px 8px;
  margin      : 0 1px;
}

.nav-link
{
  color            : var(--tab-color);
  background-color : var(--tab-color-bg);
}

.nav-item > a.nav-link::after
{
  background-position : 0 0;
  background-size     : 1.4rem 1.4rem;
  height              : 1.4rem;
  width               : 1.4rem;
  position            : absolute;
  top                 : calc(50% - 0.7rem);
  right               : 0.3rem;
  content             : "";
  display             : inline-block;
}

.nav-link.active
{
  background-color : var(--tab-color-hover-bg);
}

.nav-link.hazard.active
{
  background-color : var(--hazard-color-bg);
}

.nav-item > a.nav-link.hazard::after
{
  background-image : url("../img/hazard.png");
}

.nav-link.help.active
{
  color            : var(--help-color);
  background-color : var(--help-color-bg);
}

.nav-item > a.nav-link.help::after
{
  background-image : url("../img/help.png");
}

.nav-link.network.active
{
  color            : var(--network-color);
  background-color : var(--network-color-bg);
}

.nav-item > a.nav-link.network::after
{
  background-image : url("../img/network.png");
}

.tab-content
{
  padding  : 15px;
  height   : calc(100% - 30px - 16px);
  overflow : auto;
}

.tab-pane
{
  flex-grow : 1;
}
