.light-theme
{
  --tab-color          : #000000;
  --tab-color-bg       : #DDDDDD;
  --tab-color-hover-bg : #BBBBBB;
  --hazard-color       : #222222;
  --hazard-color-bg    : #FFDC00;
  --help-color         : #EEEEEE;
  --help-color-bg      : #3377FF;
  --network-color      : #EEEEEE;
  --network-color-bg   : #339933;
  --code-color         : #EE3388;
  --code-color-bg      : #CCCCCC;
  --tip-1-img          : url("../img/tip_1.png");
  --tip-2-img          : url("../img/tip_2.png");
}

.dark-theme
{
  --tab-color          : #EEEEEE;
  --tab-color-bg       : #777777;
  --tab-color-hover-bg : #999999;
  --hazard-color       : #222222;
  --hazard-color-bg    : #FFDC00;
  --help-color         : #EEEEEE;
  --help-color-bg      : #3377DD;
  --network-color      : #EEEEEE;
  --network-color-bg   : #117711;
  --code-color         : #DD3377;
  --code-color-bg      : #444444;
  --tip-1-img          : url("../img/tip_1_dark.png");
  --tip-2-img          : url("../img/tip_2_dark.png");
}

.nav-tabs
{
  border-bottom : 1px solid var(--tab-color-bg);
}

.nav-tabs .nav-link
{
  font-weight : bold;
  border      : none;
  padding     : 8px 35px 8px 8px;
  margin      : 0 1px;
}

.nav-link:hover
{
  color           : var(--tab-color);
  text-decoration : underline;
}

.nav-link
{
  position : relative;
}

.nav-link
{
  color            : var(--tab-color);
  background-color : var(--tab-color-bg);
}

.nav-item > a.nav-link::after
{
  background-position : 0 0;
  background-size     : 1.4rem 1.4rem;
  height              : 1.4rem;
  width               : 1.4rem;
  position            : absolute;
  top                 : calc(50% - 0.7rem);
  right               : 0.3rem;
  content             : "";
  display             : inline-block;
}

.nav-link.active
{
  background-color : var(--tab-color-hover-bg);
}

.nav-link.hazard.active
{
  color            : var(--hazard-color);
  background-color : var(--hazard-color-bg);
}

.nav-item > a.nav-link.hazard::after
{
  background-image : url("../img/hazard.png");
}

.nav-link.help.active
{
  color            : var(--help-color);
  background-color : var(--help-color-bg);
}

.nav-item > a.nav-link.help::after
{
  background-image : url("../img/help.png");
}

.nav-link.network.active
{
  color            : var(--network-color);
  background-color : var(--network-color-bg);
}

.nav-item > a.nav-link.network::after
{
  background-image : url("../img/network.png");
}

.tab-content
{
  padding  : 10px;
  height   : calc(100% - 30px - 16px);
  overflow : auto;
}

.tab-pane
{
  flex-grow : 1;
}

code
{
  color            : var(--code-color);
  background-color : var(--code-color-bg);
  border-radius    : 3px;
  padding          : 2px 4px;
}

.tip-wrapper
{
  height : 150px;
  width  : 300px;
}

.tip-wrapper-sm
{
  height         : 1.5rem;
  width          : 1.5rem;
  display        : inline-block;
  vertical-align : text-bottom;
}

.tip
{
  vertical-align      : middle;
  background-repeat   : no-repeat;
  background-size     : contain;
  background-position : center;
  object-fit          : contain;
  min-width           : 100%;
  min-height          : 100%
}

.tip-1
{
  background-image : var(--tip-1-img);
}

.tip-2
{
  background-image : var(--tip-2-img);
}
