.light-theme
{
  --primary-color    : #000000;
  --primary-color-bg : #FFFFFF;
  --gutter-color-bg  : #EEEEEE;
}

.dark-theme
{
  --primary-color    : #FFFFFF;
  --primary-color-bg : #222222;
  --gutter-color-bg  : #444444;
}

html, body
{
  height           : 100%;
  max-height       : 100%;

  color            : var(--primary-color);
  background-color : var(--primary-color-bg);
  transition       : background-color 300ms;
}

.advanced
{
  display: none;
}

/* Splitter */

.split
{
  height             : 100%;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

.h-flex
{
  height         : 100%;
  display        : flex;
  flex-direction : row;
}

.v-flex
{
  height         : 100%;
  display        : flex;
  flex-direction : column;
}

.gutter
{
  background-repeat   : no-repeat;
  background-position : 50%;

  background-color    : var(--gutter-color-bg);
}

.gutter.gutter-vertical
{
  background-image : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

.gutter.gutter-horizontal
{
  background-image : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

/* Main Container */

.main
{
  height    : 100%;
  max-width : 100%;
  margin    : 0;
  padding   : 0;
}

/* Controls */

.tool-settings
{
  margin      : 0;
  font-weight : bold;
  display     : inline-block;
}

label, input
{
  cursor : pointer;
  margin : 0;
}

input:active, input:focus
{
  outline : 0;
}

.toggle
{
  -webkit-appearance : none;
  -moz-appearance    : none;
  appearance         : none;
  width              : 50px;
  height             : 20px;
  top                : 0.2rem;
  display            : inline-block;
  position           : relative;
  border-radius      : 50px;
  overflow           : hidden;
  outline            : none;
  border             : none;
  cursor             : pointer;
  background-color   : #707070;
  transition         : background-color ease 0.3s;
}

.toggle:before
{
  content        : "on off";
  display        : block;
  position       : absolute;
  z-index        : 2;
  width          : 16px;
  height         : 16px;
  background     : #FFFFFF;
  left           : 2px;
  top            : 2px;
  border-radius  : 50%;
  font           : 10px/18px Helvetica;
  text-transform : uppercase;
  font-weight    : bold;
  text-indent    : -26px;
  word-spacing   : 30px;
  color          : #FFFFFF;
  white-space    : nowrap;
  transition     : all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked
{
  background-color : #4CD964;
}

.toggle:checked:before
{
  left : 32px;
}
