requests==2.25.1
pandas==1.2.2

django==3.1.6
djangorestframework==3.12.2
daphne==3.0.1
asgiref==3.2.10
channels==3.0.2
whitenoise==5.2.0

dialogflow==1.1.0
google-cloud-dialogflow==2.0.0

opentelemetry-api==0.11b0
opentelemetry-sdk==0.11b0
opentelemetry-ext-jaeger==0.11b1
opentelemetry-ext-zipkin==0.11b1
jaeger-client==3.13.0
opentracing==1.2.2
